body {
  background-image: url(../img/backGround.png);
  background-repeat: no-repeat;
}

img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

p {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size: 14pt;
  color: #7b7b7b;
}

h3 {
  font-family: 'Open Sans',sans-serif;
  color: #333;
  text-align: center;
  line-height: normal;
}

.headerImage {
  padding-top: 60px;
}

.intro {
  padding-bottom: 40px;
}

.personaText {
  margin-top:20%;
}

.personaImage {
  margin-top: 20px;
}
