body {
  background-image: url(../img/backGround.png);
  background-repeat: no-repeat;
}

img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

p {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size: 12pt;
  color: #7b7b7b;
}

h3 {
  font-family: 'Open Sans',sans-serif;
  color: #333333;
  text-align: center;
}


.headerImage {
  padding-top: 60px;
}

.intro {
  padding-bottom: 40px;
}
